{% extends "_base.html" %}
{% block title %}Dahu :: Support{% endblock %}
{% block content %}
<div class="container">
    <div class="page-header main-header">
        <h1 class="link">Support</h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            Dahu is still in early stage of development. If you need some assistance with using Dahu, please feel
            free to ask a question by contacting the authors or by using our <a href="https://github.com/dahuapp/Dahu/issues?page=1&state=all">issues page.</a>
            <h2>Found a bug?</h2>
            <p>If you think you have found a bug, please raise it at <a href="https://github.com/dahuapp/Dahu/issues?page=1&state=all">https://github.com/dahuapp/Dahu/issues</a> and we will take a look.</p>
            <h2>Requesting a new feature?</h2>
            <p>We're always interested in receiving suggestions on how to make Dahu even better. If you've got a feature request, please let us know at <a href="https://github.com/dahuapp/Dahu/issues?page=1&state=all">https://github.com/dahuapp/Dahu/issues</a> and we will take a look.</p>
        </div>
    </div>
</div>
{% endblock %}