$dahu-logo-color: rgb(23, 116, 212);

$dahu-light-text-color: #9e9e9e;

$dahu-page-background-color: white;
$dahu-jumbotron-carousel-color: rgb(6, 48, 87);
$dahu-jumbotron-development-color: white;
$dahu-jumbotron-development-bg-color: rgb(102, 169, 236);