@import "sass-bootstrap/lib/bootstrap";
@import "_variables";

body {
    padding-top: 50px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

/* header */

header {
    .navbar {
        background: $dahu-page-background-color;
        margin-bottom: 0px;
    }

    .navbar-nav {
        @extend .pull-right;
    }

    .navbar-brand {
        padding-top: 9px;
        padding-bottom: 9px;
        img {
            height: 32px;
        }
    }
}

.jumbotron-carousel {
    padding-top: $jumbotron-padding/4;
    padding-bottom: $jumbotron-padding/4;
    background-color: $dahu-jumbotron-carousel-color;
    -webkit-box-shadow: inset 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 10px 10px 0px rgba(0, 0, 0, 0.1);


    .carousel .item {
        transition: none;
        text-align: center;
        p.title {
            font-weight: bold;
            font-size: ceil($font-size-base*1.5);
        }
        img {
            @extend .visible-md;
            @extend .visible-lg;
            margin: auto;
        }
    }

    .carousel .carousel-caption {
        margin: 0;
        padding-bottom: 0;
        left: 0;
        right: 0;
    }

    @media (max-width: $screen-sm-max) {
        .feature .item {
            height: 100px;
        }
    }

    @media (min-width: $screen-md) {
        .feature .item {
            height: 400px;
        }
    }
}

.jumbotron-banner {
    text-align: center;
    background-color: transparent;
}

.jumbotron-development {
    text-align: left;
    background-color: $dahu-jumbotron-development-color;
    -webkit-box-shadow: inset 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
}

.spacer {
    border: none;
    padding: $nav-link-padding;
}

.divider {
    padding: $nav-link-padding;
}

/* screenshot & galery */

#gallery-preview,
#screenshot-preview {
    h1 small {
        line-height: $headings-line-height;
    }
}

/* thumbnail */

.thumbnail {
    border: 0 none;
    box-shadow: none;
    img { min-height:200px; height:200px; }
    .caption {
        @extend .text-center;
    }
}

ul.nav-list {
    li + li {
        border-left: 1px dashed #dadada;
    }
}