{% extends "_base.html" %}
{% block title %}Dahu :: Download{% endblock %}
{% block content %}
<div class="container">
    <div class="page-header main-header">
        <h1 class="link">Download</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p><strong>Dahu is still in early stage of development!</strong></p>

            <p>The presentation generation works well, but not all features are implemented in the graphical editor.</p>

            <p>To display tooltips in presentations, or use any advanced features, you will need to use a text editor
                and edit the presentation.dahu file. Please refer to the <a
                        href="https://github.com/dahuapp/Dahu/wiki/User-manual">user-manual</a>
                for more information.</p>
            <p class="text-center">
                <iframe src="http://ghbtns.com/github-btn.html?user=dahuapp&type=follow&count=true&size=large"
  allowtransparency="true" frameborder="0" scrolling="0" width="190" height="30"></iframe>
            </p>
        </div>
        <div class="col-md-6 text-center">
            <a href="#" class="btn btn-primary btn-xl btn-download">
                <i class="glyphicon glyphicon-download-alt"></i> Download Dahu
                <em>for <i class="icon-windows"></i> Windows, <i class="icon-apple"></i> Mac OS X and <i
                        class="icon-linux"></i> Linux</em>
            </a>
        </div>
    </div>
</div>
{% endblock %}